@page "/tasklist" 
@layout MainLayout
@using WebApplication1.Data.Tasks

@inherits TaskListBase

<div class="container-fluid">
    <div class="row">
        <input class="col-sm-5" type="text" bind-value-oninput="@currentTask" onkeypress="@MaybeEnter"/>
        <button class="col-sm-1 ml-5" class="btn btn-primary" onclick="@AddTask">Add Task</button>
    </div>

    <p> 
        <h2>Current task: @currentTask</h2>
    </p>

    <div class ="row">
        <div class ="col-sm-6">
            <p>Active</p>
            <div id="list">
                @if (tasks != null) {
                    int i = 1;
                    foreach (var task in tasks.Where(x => x.Status == TaskStatusEnum.Active))
                    {
                        <div class="row mb-sm-2"> 
                            <div class ="col-sm-8">
                                <span> @i .</span>
                                <span> @task.Text </span>
                            </div>
                            <div class ="col-sm">
                                <button onclick="@(()=> ChangeTaskStatus(task, TaskStatusEnum.Done))"> Done </button>
                                <button onclick="@(()=> ChangeTaskStatus(task, TaskStatusEnum.Removed))">Remove</button>
                                <NavLink href=@{"/tasklist/" + task.Uid}>Detail </NavLink>
                            </div>
                        </div>  
                        i++;
                    }
                }
            </div> 
        </div>
        <div class ="col-sm-6">
            <p> Done </p>
            <ul class="list-group">
                @if (tasks != null) {
                    int i = 1;
                    foreach (var task in tasks.Where(x => x.Status == TaskStatusEnum.Done))
                    {
                        <li class="list-group-item"> 
                            <span>@i .</span>
                            <span  > @task.Text </span>
                            <button onclick="@(()=> ChangeTaskStatus(task, TaskStatusEnum.Active))"> Not done yet </button>
                            <button onclick="@(()=> ChangeTaskStatus(task, TaskStatusEnum.Removed))">Remove</button>
                            <NavLink href=@{"/tasklist/" + task.Uid}>Detail </NavLink>
                        </li>  
                        i++;
                    }
                }
            </ul> 
        </div>
    </div>
</div>